DATABASE_PROVIDER="postgres"
DATABASE_URL_POSTGRES="postgresql://postgres:postgres@postgres:5432/pilingtrack_test?schema=public"
POSTGRES_DB="pilingtrack_test"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
SESSION_SECRET="replace-with-a-long-random-secret"
DATABASE_LOG_QUERIES="false"
MULTI_TENANT_MODE="false"
DEFAULT_TENANT_ID="default"
SENTRY_ORG=""
SENTRY_PROJECT="pilingtrack"
SENTRY_AUTH_TOKEN=""
